* {
    cursor: none;
    pointer-events: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

#gameCanvas {
    display: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

img {
    display: none;
}

#mainMenu,
#gameMenu,
#controlsMenu,
#highscoresMenu {
    display: none;
}

#gameMenu .menu-item {
    color: black;
    text-shadow: 1px 1px lightgray;
}

.menu-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(197, 197, 197, 0.5);
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    vertical-align: middle;
    text-align: center;
    list-style-type: none;
}

.menu .menu-item {
    color: lightgray;
    font: 50px 'Helvetica';
    background: none;
    border: none;
    height: 70px;
}

.menu-item.menu-item-active {
    color: lightgray;
    font-size: 70px;
}